{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 **** Custom variables
 *   field_image_faculty_bio: faculty image.
 *   field_first_name_faculty_bio: faculty first name.
 *   field_middle_name_facutly_bio: faculty middle name.
 *   field_last_name_faculty_bio: faculty last name.
 *   field_position_faculty_bio: faculty position.
 *   field_department_association_fac: faculty department.
 *   field_eid_faculty_bio: faculty eid.
 *   field_show_eid_faculty_bio: boolean to show/hide eid.
 *   field_telephone_faculty_bio: faculty telephone number.
 *   field_office_number_faculty_bio: faculty office number.
 *   field_email_address_faculty_bio: faculty email address.
 *   field_biography_faculty_bio: faculty biography.
 *   field_degrees_faculty_bio: faculty degress.
 *   field_courses_faculty_bio: faculty courses.
 *   field_affiliations_faculty_bio: faculty affiliations.
 *   field_custom_tab_title_faculty: faculty custom tab title.
 *   field_custom_tab_content_faculty: faculty custom tab content.
 *   cv_url: URL for CV
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content row') }}>
    <div class="col-sm-12 col-md-4 first-column">
      {{ content.field_headshot_faculty_bio }}
      <div class="faculty-bio-name">
        {{ content.field_first_name_faculty_bio }}
        {{ content.field_middle_name_facutly_bio }}
        {{ content.field_last_name_faculty_bio }}
      </div>
      {{ content.field_position_faculty_bio }}
      <hr />
      {{ content.field_department_association_fac }}
      {% if content.field_email_address_faculty_bio['#items'] %}
        <div class="faculty-bio-label">Email:</div>
        {{ content.field_email_address_faculty_bio }}
      {% endif %}
      {% if content.field_telephone_faculty_bio['#items'] %}
        <div class="faculty-bio-label">Phone:</div>
        {{ content.field_telephone_faculty_bio }}
      {% endif %}
      {% if content.field_office_number_faculty_bio['#items'] %}
        <div class="faculty-bio-label">Office:</div>
        {{ content.field_office_number_faculty_bio }}
      {% endif %}
      {% if cv_url %}
        <div>
          {{ link('Download CV', cv_url, { 'class':['ut-btn'] }) }}
        </div>
      {% endif %}
      {% if content.field_personal_link_faculty_bio %}
        {{ content.field_personal_link_faculty_bio }}
      {% endif %}
      {% if directory_link %}
        {{ directory_link }}
      {% endif %}
      {% if content.field_social_faculty_bio %}
        {{ content.field_social_faculty_bio }}
      {% endif %}
      {% if content.field_subordinates['#items'] %}
        <div class="faculty-bio-label">Assistants:</div>
        {{ content.field_subordinates }}
      {% endif %}
    </div>

    <div class="col-sm-12 col-md-8 second-column">
      <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
        {% if content.field_biography_faculty_bio['#items'] %}
          <a class="list-group-item list-group-item-action active" id="list-biography-list" data-toggle="list" href="#list-biography" role="tab" aria-controls="list-biography">Biography</a>
        {% endif %}
        {% if content.field_degrees_faculty_bio['#items']  %}
          <a class="list-group-item list-group-item-action" id="list-degrees-list" data-toggle="list" href="#list-degrees" role="tab" aria-controls="list-degrees">Degrees</a>
        {% endif %}
        {% if content.field_expertise_faculty_bio['#items']  %}
          <a class="list-group-item list-group-item-action" id="list-expertise-list" data-toggle="list" href="#list-expertise" role="tab" aria-controls="list-expertise">Expertise</a>
        {% endif %}
        {% if content.field_courses_faculty_bio['#items']  %}
          <a class="list-group-item list-group-item-action" id="list-courses-list" data-toggle="list" href="#list-courses" role="tab" aria-controls="list-courses">Courses</a>
        {% endif %}
        {% if content.field_affiliations_faculty_bio['#items']  %}
          <a class="list-group-item list-group-item-action" id="list-affiliation-list" data-toggle="list" href="#list-affiliation" role="tab" aria-controls="list-affiliation">Affiliations</a>
        {% endif %}
        {% if content.field_custom_tab_title_faculty['#items'] and content.field_custom_tab_content_faculty['#items'] %}
          <a class="list-group-item list-group-item-action" id="list-custom-list" data-toggle="list" href="#list-custom" role="tab" aria-controls="list-custom">{{ content.field_custom_tab_title_faculty }}</a>
        {% endif %}
      </div>
      <div class="tab-content" id="nav-tabContent">
        {% if content.field_biography_faculty_bio['#items']  %}
          <div class="tab-pane fade show active" id="list-biography" role="tabpanel" aria-labelledby="list-biography-list">{{ content.field_biography_faculty_bio }}</div>
        {% endif %}
        {% if content.field_degrees_faculty_bio['#items']  %}
          <div class="tab-pane fade" id="list-degrees" role="tabpanel" aria-labelledby="list-degrees-list">{{ content.field_degrees_faculty_bio }}</div>
        {% endif %}
        {% if content.field_expertise_faculty_bio['#items']  %}
          <div class="tab-pane fade" id="list-expertise" role="tabpanel" aria-labelledby="list-expertise-list">{{ content.field_expertise_faculty_bio }}</div>
        {% endif %}
        {% if content.field_courses_faculty_bio['#items']  %}
          <div class="tab-pane fade" id="list-courses" role="tabpanel" aria-labelledby="list-courses-list">{{ content.field_courses_faculty_bio }}</div>
        {% endif %}
        {% if content.field_affiliations_faculty_bio['#items']  %}
          <div class="tab-pane fade" id="list-affiliation" role="tabpanel" aria-labelledby="list-affiliation-list">{{ content.field_affiliations_faculty_bio }}</div>
        {% endif %}
        {% if content.field_custom_tab_title_faculty['#items'] and content.field_custom_tab_content_faculty['#items'] %}
          <div class="tab-pane fade" id="list-custom" role="tabpanel" aria-labelledby="list-custom-list">{{ content.field_custom_tab_content_faculty }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
