  {# <div class="faq-title" id="faq-{{ item_delta }}">
    <button class="faq-btn" type="button" data-toggle="collapse" data-target="#collapse-{{ item_delta }}" aria-expanded="true" aria-controls="collapse-{{ item_delta }}">
      {{ panel_title }}
      <svg viewbox="0 0 24 28" class="icon open-faq">
        <use xlink:href="#ut-plus-circle"></use>
      </svg>
    </button>
  </div>

  <div id="collapse-{{ item_delta }}" class="collapse faq-content" aria-labelledby="{{ item_delta }}" data-parent="#moodyFaq">
    <div class="faq-body">
      {{ panel_content }}
    </div>
  </div> #}
