<div class="moody-flip-things-image-grid-container  ut-pt-8 ut-pb-8">
	<div class="container">
		{% if headline %}
			<div class="row">
				<div class="col-12">
					<div class="ut-h3 headline block-headline-h2">{{ headline }}</div>
				</div>
			</div>
		{% endif %}
		<div class="row contents-row-max-w">
			{% for item in items %}
				<div class="col">
					<div class="moody-flip-things-image-grid">
						<div
							class="content">
							

							<!-- Front with circle border and image -->
							<div class="front">
								<div class="circle-border">
                                   
                                    <!-- Content in the circle -->
									<div
										class="circle" style="background-image: url('{{ item.image_url }}');"><!-- Image is set as background -->
                                        <!-- Left arrow -->
                                        <div
                                            class="arrow left">{{ chevron_left | raw }}<!-- Include your left arrow icon or text here -->
                                        </div>
                                        <!-- Right arrow -->
                                        <div
                                            class="arrow right">{{ chevron_right | raw }}<!-- Include your right arrow icon or text here -->
                                        </div>
									</div>
                                    
								</div>
                                
							</div>
                            

							<!-- Back with circle border and body text -->
                            {% if item.link_url %}
                                <a href="{{ item.link_url }}">
                            {% endif %}
                            <div class="back">
                                <div class="circle-border">
                                    <div class="circle">
                                        <p>{{ item.body|raw }}</p>
                                        <div class="arrow left">{{ chevron_left | raw }}</div>
                                        <!-- Right arrow -->
                                        <div class="arrow right">{{ chevron_right | raw }}</div>
                                    </div>
                                </div>
                            </div>
                            {% if item.link_url %}
                                </a>
                            {% endif %}

							
						</div>
						<div class="below-content">
							{{ item.headline }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
