{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'accordion',
  ]
%}
<div {{ attributes.addClass(classes) }} x-data="{ openIndex: null }">
  {% for item in items %}
    <div class="accordion-item">
      <div class="accordion-title">
        <button @click="openIndex === {{ loop.index0 }} ? openIndex = null : openIndex = {{ loop.index0 }}" 
                :class="{ 'collapsed': openIndex !== {{ loop.index0 }} }" 
                class="accordion-btn">
          {{ item.content['#panel_title'] }}
          <span class="accordion-caret"></span>
        </button>
      </div>
      <div x-show="openIndex === {{ loop.index0 }}" class="accordion-content">
        <div class="accordion-body">
          {{ item.content['#panel_content'] }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
