  {# <div class="accordion-title" id="accordion-{{ item_delta }}">
    <button class="accordion-btn" type="button" data-toggle="collapse" data-target="#collapse-{{ item_delta }}" aria-expanded="true" aria-controls="collapse-{{ item_delta }}">
      {{ panel_title }}
      <svg viewbox="0 0 24 28" class="icon open-accordion">
        <use xlink:href="#ut-plus-circle"></use>
      </svg>
    </button>
  </div>

  <div id="collapse-{{ item_delta }}" class="collapse accordion-content" aria-labelledby="{{ item_delta }}" data-parent="#moodyAccordion">
    <div class="accordion-body">
      {{ panel_content }}
    </div>
  </div> #}
