{#
/**
 * @file
 * Custom theme implementation for the Moody Mission Statement.
 *
 * Available variables:
 * - headline: The Moody Mission Statement overall headline field.
 * - style: The color of the lined background design.
 * - cta: The Moody Mission Statement overall CTA button.
 * - flex_grid_items: An array containing the Moody Mission Statement individual item contents.
 *   - image: The Mission Statement image.
 *   - headline: The Mission Statement headline.
 *   - copy: The Mission Statement copy field.
 *   - link: The Mission Statement link field.
 *
 * @ingroup themeable
 */
#}

{% set wrapper_classes = [
  'flex-grid-wrapper',
  'promo-display',
  'flip',
  rounded_edges ? 'has-rounded-edges' : '',
  overlay_text ? 'has-overlay-text' : '',
] %}

<div class="{{ wrapper_classes|join(' ')|trim }}">
	{% if headline %}
		<div class="row">
			<div class="col-12">
				<div class="ut-h3 headline block-headline-h2">{{ headline }}</div>
			</div>
		</div>
	{% endif %}
	{% if flex_grid_items %}
		<div class="flex-grid-items {{ style }}-columns">
			{% for item in flex_grid_items %}
				<div class="flex-grid-item flip-container">
					<div class="front">
					{# We can add a background image with the {{ item.image }} which is a URL with inline css #}
						<div class="mfg--image--promo" style="background-image: url('{{ item.image }}');">
							
						</div>
						<div class="mfg--text--promo">
							<h3 class="ut--headline text-{{ item.headline_alignment }}">{{ item.headline }}</h3>
						</div>
					</div>
					<div class="back">
						{% if item.link and not item.link_button_text %}
							<a class="mfg--text--promo" href="{{ item.link }}">
						{% else %}
							<div class="mfg--text--promo">
						{% endif %}
							<h3 class="ut--headline text-{{ item.headline_alignment }}">{{ item.headline }}</h3>
							<p>{{ item.copy }}</p>
							{% if item.link and item.link_button_text %}
								<div class="mfg--button mfg--button-align-{{ item.link_button_alignment|default('left') }}">
									<a href="{{ item.link }}" class="ut-btn">{{ item.link_button_text }}</a>
								</div>
							{% endif %}
						{% if item.link and not item.link_button_text %}
							</a>
						{% else %}
							</div>
						{% endif %}
					</div>
				</div>

			{% endfor %}
		</div>
	{% endif %}
</div>
